<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dataman.pike.core.dao.mapper.ex.ProjectExMapper">
  
  <resultMap id="projectMap" type="com.dataman.pike.core.entity.Project" >
  	<id column="id" jdbcType="BIGINT" property="id" />
    <result column="exteneral_id" jdbcType="BIGINT" property="exteneralId" />
    <result column="proname" jdbcType="VARCHAR" property="proname" />
    <result column="health_check" jdbcType="VARCHAR" property="healthCheck" />
    <result column="remark_name" jdbcType="VARCHAR" property="remarkName" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="manager_id" jdbcType="BIGINT" property="managerId" />
    <result column="manager" jdbcType="VARCHAR" property="manager" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="health_status" jdbcType="VARCHAR" property="healthStatus" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="end_at" jdbcType="TIMESTAMP" property="endAt" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="reserve1" jdbcType="VARCHAR" property="reserve1" />
    <result column="reserve2" jdbcType="VARCHAR" property="reserve2" />
    <result column="reserve3" jdbcType="VARCHAR" property="reserve3" />
  </resultMap>
  
  <select id="findPageList" resultMap="projectMap">
  	select * from t_project where 1=1
  	<if test="proNo != null and proNo != ''">
  		and exteneral_id like CONCAT('%', #{proNo }, '%')
  	</if>
  	<if test="proName != null and proName != ''">
  		and proname like CONCAT('%', #{proName }, '%')
  	</if>
  	<if test="proManager != null and proManager != ''">
  		and manager like CONCAT('%', #{proManager }, '%')
  	</if>
  	<!-- <if test="source != null and source != ''">
  		and source like CONCAT('%', #{source }, '%')
  	</if> -->
  	order by create_at desc
  </select>
  
</mapper>